<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Us | Scandinavian Airlines Virtual</title>
  <link rel="icon" type="image/x-icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/contact.css">
  <script src="/js/base/index.js" defer></script>
  <link rel="stylesheet" href="/css/darktheme.css">
  <script src="/js/theme-control/theme-control-contact.js" defer></script>

</head>
<body>
<nav>
  <img src="https://logos-download.com/wp-content/uploads/2016/05/SAS_logo_Scandinavian_Airlines.png" alt="SAS Virtual Logo" id="logo">
  <ul>
    <li><a href="#ftct">Home</a></li>
    <li><a href="#ftct">About us</a></li>
    <i id="theme-icon" class="fas fa-moon"><img src="/img/dark-theme.svg" alt=""></i>
  </ul>
</nav>
<div id="alert" class="hidden">
  <p>Your message has been sent successfully!</p>
  <button id="close-alert">Close</button>
</div>
<div class="container">
  <h1>Contact Us</h1>
  <p>If you have any questions, please don't hesitate to send us a message. We aim to reply within 2 working days.</p>
    <form action="/send-email" method="POST" enctype="application/x-www-form-urlencoded">
      <label for="name">Name:</label><br>
      <input type="text" id="name" name="name"><br>
      <label for="email">Email:</label><br>
      <input type="email" id="email" name="email"><br>
      <label for="message">Message:</label><br>
      <textarea id="message" name="message"></textarea><br>
      <input type="submit" value="Submit">
    </form>
</div>
<footer>
  <div class="footer-content" id="ftct">
    <div class="about-foot">
      <h3>About SAS Virtual</h3>
      <p>Scandinavian Airlines Virtual is a virtual airline for flight simulation enthusiasts. We strive to provide a realistic and professional virtual aviation experience for our pilots.</p>
    </div>
    <div class="links">
      <h3>Useful Links</h3>
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">About Us</a></li>
      </ul>
    </div>
    <div class="copyright">
      <p>&copy; 2023 Scandinavian Airlines Virtual. All rights reserved.</p>
      <div class="made-by">
        <p>Made by Nagy_Zoltán34 | In cooperation with:</p>
        <a href="https://discord.gg/zNpUf22Wxn" target="_blank"><img src="/img/ddcdb85fb0884cb9050f7028a59ae934.png" alt=""></a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>