.content .text {
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out forwards;
}

/*noinspection CssUnresolvedCustomProperty*/
.content .text:nth-child(n) {
    animation-delay: calc(0.1s * var(--i));
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}